<footer> 
	<div class="content">
		<p>Project for 6.148 by Team Singleton, 2015. Report anything <b>Baroque</b> by <a href="mailto:oper8or.contact@gmail.com">contacting the site maintainer</a>.</p>
	</div>
</footer>
<!--
<script>
	$(document).foundation();
</script>
-->
