<title>Operator (6.148 WebApp)</title>
<link rel="stylesheet" href="css/custom.css">
<meta charset="utf-8" />
<!-- if you remove this meta tag, the NSA will spy on you through your Xbox Kinect camera -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation</title>
<link rel="stylesheet" href="css/app.css" />
<script src="bower_components/modernizr/modernizr.js"></script>
