<li class="active"><a href="#" data-reveal-id="signupModal">Sign up</a></li>
<li class="active"><a href="#" data-reveal-id="loginModal">Log in</a></li>
<li class="active"><a href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a></li>
<li class="active"><a href="/auth/twitter"><span class="fa fa-twitter"></span>Twitter</a></li>

<% include login %>
<% include signup %>