<html>
<div id="loginModal" class="reveal-modal" data-reveal>

	<h3>Where have you been <b>Haydn</b>?</h3>
	
	<form action="/login" method="post">
		<label>E-mail address: 
			<input type="text" id="email" name="email" class="forminput" placeholder="Email">
		</label>
		<label>Password: 
			<input type="password" id="password" name="password" class="forminput" placeholder="Password">
		</label>
		<input type="submit" value="Log in">
	</form>

	<a href="/forgot">Forgot your password?</a>

</div>
</html>