<html>
<div id="signupModal" class="reveal-modal" data-reveal>

	<h3><b>Verdi</b> nice to meet you!</h3>
	
	<form action="/signup" method="post">
		<label>E-mail address: 
			<input type="text" id="email" name="email" class="forminput" placeholder="Email">
		</label>
		<label>Password: 
			<input type="password" id="password" name="password" class="forminput" placeholder="Password">
		</label>
		<input type="submit" value="Sign up">
	</form>

</div>
</html>