<html>
<div class="content">
    <form action="/uploadrecord" method="post" data-abide>
        <h4>Recording-specific information:</h4>
        <div class="row">
            <div class="large-6-columns">
                <label>Performers:
                    <input type="text" name="performers" class="forminput" placeholder="Separate names with semicolons, ex. Luciano Pavarotti; Joan Sutherland">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-3-columns">
                    <label>Link Type</label>
                    <% 
                    var types = ['YouTube','Other'];
                    for (var t in types) {
                    %>
                        <label><%=types[t]%><input type="radio" name="type" class="forminput" value=<%=types[t]%> id="type<%=types[t]%>"></label>
                    <% } %>
                </div>
            </div>
            <div class="large-6-columns">
                <label>Embed ID:
                    <input type="text" name="url" class="forminput" placeholder="Code used to share YouTube link"/>
                </label>
            </div>
        </div>
        <input type="hidden" name="modelid" class="forminput" value=<%=modeldata._id%>>
        <button type="submit">Save and continue</button>
    </form>
</div>
</html>